{% extends 'UE235BibliothequeBundle::layout.html.twig' %}

{% block title %}Liste des livres{% endblock %}
{% block add_css %}
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="row">
{% for f in livres %}
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#Infos-{{f.id}}" aria-controls="Infos-{{f.id}}" role="tab" data-toggle="tab">Infos</a></li>
                <li role="presentation"><a href="#Desc-{{f.id}}" aria-controls="Desc-{{f.id}}" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Actions<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('ue235_livre_voir', { 'id': f.id }) }}">Voir</a></li>
                        <li><a href="{{ path('ue235_livre_modifier', { 'id': f.id }) }}">Modifier</a></li>
                        <li><a href="{{ path('ue235_livre_supprimer', { 'id': f.id }) }}">Supprimer</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="Infos-{{f.id}}">
                    <h3>{{ f.titre }}</h3>
                    <dl class="dl-horizontal">
                      <dt>Auteur(s)</dt>
                      <dd>{% for a in f.auteurs %} {{a.prenom}} {{ a.nom | upper }} {% endfor %}</dd>
                      <dt>Catégorie</dt>
                      <dd>{{ f.categorie.nom }}</dd>
                    </dl>
                </div>
                <div role="tabpanel" class="tab-pane" id="Desc-{{f.id}}">
                    <p class="m-2 text-justify">{{ f.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
{% block add_js %}
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#livre').DataTable();
} );
</script>
{% endblock %}


