{% extends 'UE235BibliothequeBundle::layout.html.twig' %}

{% block title %}Fiche du livre {{ livre.titre }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="thumbnail">
                <img src="{{ asset('uploads/couvertures/') ~ livre.couverture }}" alt="{{ livre.alt }}" width="60%" class="img-responsive img-rounded m-2">
                <div class="caption">
                    <h3 class="text-center">{{ livre.titre }}</h3>
                    <dl class="dl-horizontal">
                        <dt>Auteur(s)</dt>
                        <dd>{% for a in livre.auteurs %} {{a.prenom}} {{ a.nom | upper }} {% endfor %}</dd>
                        <dt>Catégorie</dt>
                        <dd>{{ livre.categorie.nom }}</dd>
                    </dl>
                    <p class="text-justify">{{ livre.description }}</p>
                    <p><a href="{{ path('ue235_livre_lister') }}" class="btn btn-primary" role="button">Retour</a></p>
                </div>
            </div>
      </div>
    </div>
{% endblock %}
