{% extends 'UE235BibliothequeBundle::layout.html.twig' %}

{% block title %}Fiche du livre {{ livre.titre }}{% endblock %}

{% block content %}
	<h1>Fiche du livre {{ livre.titre }}</h1>

	<p>{{ livre.description }}</p>

	<p>Catégorie : {% if livre.categorie.nom is same as('Roman') %}<img src="{{ asset('bundles/ue235bibliotheque/images/categorie_roman.png') }}" />{%endif%}
	{% if livre.categorie.nom is same as('Nouvelles') %}<img src="{{ asset('bundles/ue235bibliotheque/images/categorie_nouvelles.png') }}" />{%endif%}
	{% if livre.categorie.nom is same as('Policier') %}<img src="{{ asset('bundles/ue235bibliotheque/images/categorie_policier.png') }}" />{%endif%}
	{% if livre.categorie.nom is same as('Science fiction') %}<img src="{{ asset('bundles/ue235bibliotheque/images/categorie_science_fiction.png') }}" />{%endif%}
	{{ livre.categorie.nom }}</p>

	<p>Acteurs</p>
	<ul>
		{% for a in livre.auteurs %}
		    <li>{{ a.prenom }} {{ a.nom}}</li>
		{% endfor %}
	</ul>

	<p><a href="{{ path('ue235_livre_lister') }}">Retour à la liste des livres</a></p>
{% endblock %}